@using Membership.Models
@model FileModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Please <a href="/File/Downloads">click</a> the downlaod link to get list of registered user in CSV format Or
    <a href="/File/Upload">Upload</a>
</h2>

