@using Membership.Models
@model IEnumerable<LoginModel>

@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Status</th>
            <th>DateTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Username</td>
                <td>@log.Login</td>
                <td>@log.LogDate</td>
            </tr>
        }
</table>
